
/* assets/css/main.css */
/* Main CSS File */

@import url("navigation.css");



@import url("footer.css");
/* Typography System */
@import url("typography.css");
@import url("content.css");
@import url("index.css");
@import url("study-abroad.css");



@import url("pages_css/research-methods.css");
@import url("pages_css/government-documents.css");


@import url("about.css");
@import url("tutorial-toc.css");
@import url("/assets/css/pages_css/opinion.css");
@import url("pages_css/environment-research.css");
@import url("pages_css/study-destinations.css");
@import url("forms_css/sop_form.css");
@import url("main_pages/blog_listing_pages.css");
@import url("contact.css");
@import url("404.css");



