---
layout: default
title: Blogs
permalink: /blogs/
---

<div class="blog-listing-page">
    <h1 class="blog-listing__main-heading">All the Blogs</h1>

    <section class="blog-listing__section">
        <h2 class="blog-listing__section-title">Latest Posts</h2>
        
        <div class="blog-listing__scroll-wrapper">
            <ul class="blog-listing__list blog-listing__list--scrollable"> 
                {% for post in site.posts %}
                <li class="blog-listing__item blog-listing__item--card"> 
                    <h3 class="blog-listing__item-title">
                        <a href="{{ post.url }}" class="blog-listing__item-link">{{ post.title }}</a>
                    </h3>
                    <div class="blog-listing__item-excerpt">
                        {{ post.excerpt }}
                    </div>
                    <a href="{{ post.url }}" class="blog-listing__read-more-link">Read More &rarr;</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>

    <section class="blog-listing__section">
        <h2 class="blog-listing__section-title">Other Blog Entries</h2>
        <div class="blog-listing__scroll-wrapper">
            <ul class="blog-listing__list blog-listing__list--scrollable">
                {% for blog in site.blogs %}
                <li class="blog-listing__item blog-listing__item--card">
                    <h3 class="blog-listing__item-title">
                        <a href="{{ blog.url }}" class="blog-listing__item-link">{{ blog.title }}</a>
                    </h3>
                    <div class="blog-listing__item-excerpt">
                        {{ blog.excerpt }}
                    </div>
                    <a href="{{ blog.url }}" class="blog-listing__read-more-link">Read More &rarr;</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </section>
</div>



