---
layout: default
title: Blogs
permalink: /blogs/
---
<h1>All the Blogs</h1>

<ul>
  {% for post in site.posts %}

    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

---
layout: default
title: Blogs
permalink: /blogs/
---

<div class="blog-listing-page">
    <h1 class="blog-listing__main-heading">All the Blogs</h1>

    <section class="blog-listing__section">
        <h2 class="blog-listing__section-title">Latest Posts</h2>
        <ul class="blog-listing__list">
            {% for post in site.posts %}
            <li class="blog-listing__item">
                <h3 class="blog-listing__item-title">
                    <a href="{{ post.url }}" class="blog-listing__item-link">{{ post.title }}</a>
                </h3>
                <div class="blog-listing__item-excerpt">
                    {{ post.excerpt }}
                </div>
                <a href="{{ post.url }}" class="blog-listing__read-more-link">Read More &rarr;</a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="blog-listing__section">
        <h2 class="blog-listing__section-title">Other Blog Entries</h2>
        <ul class="blog-listing__list">
            {% for blog in site.blogs %}
            <li class="blog-listing__item">
                <h3 class="blog-listing__item-title">
                    <a href="{{ blog.url }}" class="blog-listing__item-link">{{ blog.title }}</a>
                </h3>
                <div class="blog-listing__item-excerpt">
                    {{ blog.excerpt }}
                </div>
                <a href="{{ blog.url }}" class="blog-listing__read-more-link">Read More &rarr;</a>
            </li>
            {% endfor %}
        </ul>
    </section>
</div>



